# Ignore everything first
/*

# Allow specific files and directories
!.gitignore
!index.html
!simple.html
!readme.html
!header.html
!head.php
!footer.html
!sitemap.xml
!sitemap.html
!form.html
!template.html
!subdomainData.js
!reg.html
!cart.html
!cart.php
!cart.js
!doap.js
!zipFinder.js
!products.html
!flower.html
!concentrates.html
!edibles.html
!accessories.html
!products.json
!products.js
!template.yaml
!style.css
!styles.css
!LICENSE
!*.png
!*.jpg
!*.svg
!*.jpeg
!*.webp

# Ignore everything in .github
.github/*

# Allow the workflows directory and its contents
!.github/workflows/
!.github/workflows/ci-cd.yml
!slot-machine/
!slot-machine/index.html
!slot-machine/*.png

