# Ignore everything by default
/*

# Allow specific files and directories
!.gitignore
!README.md
!template.yaml
!index.html
!privacy-policy
!privacy-policy.html
!simple.php

# Allow specific files in the "inc" directory
!inc/
!inc/css/
!inc/css/style.css
!inc/css/customerInfo.css
!inc/html/
!inc/html/cartsection.html
!inc/html/footer.html
!inc/html/header.html
!inc/html/products.html
!inc/js/
!inc/js/shop.js
!inc/js/payments.js
!inc/js/formUtils.js
!inc/js/cartUtils.js
!inc/js/cartHandlers.js
!inc/js/formHandlers.js
!inc/js/utils.js
!inc/js/modal.js
!inc/js/ifroot.js
!inc/js/shopzipFinder.js
!inc/js/subdomainData.js
!inc/js/cookieConsent.js
!inc/php/
!inc/php/head.php
!inc/php/og_meta.php
!inc/php/shop.php
!inc/js/productSelectionHandler.js

# Allow specific files in the "images" directory
!images/
!images/banners/
!images/banners/alamodoapbanner.webp
!images/banners/burlingamedoapbanner.webp
!images/banners/campbelldoapbanner.webp
!images/banners/castrovalleydoapbanner.webp
!images/banners/concorddoapbanner.webp
!images/banners/doap-og-banner.webp
!images/banners/doap-og-banner2.webp
!images/banners/doapbanner.png
!images/banners/doapbannernewide.png
!images/banners/doapbannernewide.webp
!images/banners/doapbannernewideorig.png
!images/banners/dublindoapbanner.webp
!images/banners/happy-delivery.webp
!images/banners/hillsboroughdoapbanner.webp
!images/banners/lafayettedoapbanner.webp
!images/banners/lafayetteldoapbanner.webp
!images/banners/og-graph.png
!images/banners/orindadoapbanner.webp
!images/banners/pittsburgdoapbanner.webp
!images/banners/pleasanthilldoapbanner.webp
!images/banners/pleasanthillldoapbanner.webp
!images/banners/pleasantondoapbanner.webp
!images/banners/sanramondoapbanner.webp
!images/banners/santaclaradoapbanner.webp
!images/banners/walnutcreekdoapbanner.webp
!images/gravatars/
!images/gravatars/dreaming-of-american-prosperity.jpeg
!images/logos/
!images/logos/doap-logo-ind.png
!images/logos/doap-logo-wording.png
!images/logos/doap-square-180x180.png
!images/products/
!images/products/accessories/
!images/products/accessories/The-DOAP-Vape-Pen-Battery-510thread-wCharger-1yrWarranty-2-1.jpeg
!images/products/concentrates/
!images/products/concentrates/single-vape-carts.jpg
!images/products/edibles/
!images/products/edibles/29568cf4151e0959e1f853d6791c8906.png
!images/products/edibles/gummies.webp
!images/products/edibles/tuberoos.webp
!images/products/flower/
!images/products/flower/4-pack-of-top-shelf-cone-joints.jpg
!images/products/flower/Small-popcorn-buds.jpg

# Allow GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/ci-cd.yml

# Allow slot-machine directory
!slot-machine/
!slot-machine/index.html
!slot-machine/*.png

